// =====Variables=====
// Color Variables
$main-blue: #00367a;
$azure-blue: #007bff;
$bluejay-blue: #1696fe;
$faint-blue: #f6fafd;
$main-green: #0faf57;
$money-green: #13ce67;
$money-green-2: #3dc578;
$mint: #94e7b7;
$light-mint: #c2e2da;
$tangerine: #fb592f;
$dark-gray: #6c757d;
$light-gray: #f8f9fa;
$outline-gray: #ebeced;

// Font Variables

// =====ViewPorts=====
// Mobile Phones
@media (max-width: 870px) {
  header {
    .col-lg-5 {
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }
    .header-image {
      display: none;
    }
    li {
      font-size: 15px;
    }

    .btn {
      padding: 0.5rem;
    }
  }
  // Savings Section
  #savings-section {
    .col-lg-6 {
      margin-bottom: 3rem;
    }
  }
  // Features Section
  #opportunities {
    display: none;
  }
  #costs {
    display: none;
  }

  .mobile-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #successful-raises {
    .card-deck {
      display: block !important;
    }
  }
}

// Laptop Screens
@media (min-width: 1024px) {
  .container {
    max-width: 1920px;
  }

  // Features Section
  #opportunities-mobile {
    display: none;
  }
  #costs-mobile {
    display: none;
  }
}

// =====Layout=====
.header-bg {
  background-color: $faint-blue;
  padding-bottom: 5rem;
  background-position: bottom;
}

.col-lg-5 {
  margin: 0;
  padding: 0;
}

// =====Font Styles & Text Colors=====
// Font Styles
h1 {
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-size: 55;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.lead {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

li {
  font-size: 18px;
}

// Text Colors
.text-white {
  color: white;
}

.text-main-blue {
  color: $main-blue;
}

.text-bluejay-blue {
  color: $bluejay-blue;
}

.text-azure-blue {
  color: $azure-blue;
}

.text-green {
  color: $money-green;
}

.text-tang {
  color: $tangerine;
}

.text-gray {
  color: $dark-gray;
}

hr {
  background-color: $outline-gray;
}

.small-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.donut-text {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

// =====Buttons=====
.btn {
  padding: 1rem 1.75rem 1rem 1.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0;
}

.btn-tang {
  background-color: $tangerine;
  color: white;
  transition: 20ms;
}

.btn-tang:hover {
  background-color: $money-green;
  color: white;
  transition: 20ms;
}

.btn-green {
  background-color: $money-green;
  color: white;
}

.btn-green:hover {
  color: white;
}

.btn-outline-white {
  background: transparent;
  border: white 2px solid;
  color: white;
  transition: 20ms;
}

.btn-outline-white:hover {
  border: $money-green 2px solid;
  color: white;
  transition: 20ms;
}

.btn-outline-gray {
  background: transparent;
  border: $outline-gray 2px solid;
}

// =====Intro Text Section=====
#intro-text {
  background-color: $faint-blue;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

// =====Savings Section=====
#savings-section {
  .savings-input {
    padding: 0.8rem 1.5rem 1rem 1.5rem;
    border: $outline-gray 2px solid;
  }
  ::placeholder {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }

  @keyframes donut-fill {
    to {
      stroke-dasharray: 0 100;
    }
  }

  .donut {
    width: 12.5rem;
    height: 12.5rem;
    position: relative;
    margin: auto;
  }

  .donut__frame,
  .donut__circle {
    stroke-width: 0.125rem;
    fill: none;
  }

  .donut__frame {
    stroke: $outline-gray;
  }

  .donut__circle {
    stroke: $outline-gray;
    stroke-linecap: round;
  }

  .donut__canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
  }

  .donut__circle {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    animation: donut-fill 2s;
  }

  .donut__circle[stroke-dasharray="0 100"] {
    stroke: none;
  }

  .donut.is--negative .donut__circle {
    transform: rotate(90deg) scaleY(-1);
  }

  .donut-complex text {
    display: none;
  }

  .donut-complex circle {
    border: $outline-gray 2px solid;
    fill: none;
    transition: stroke-dashoffset 1s ease-in-out;
  }

  .donut-complex:not(.donut-complex--loaded) circle {
    stroke-dashoffset: 0;
  }
}

// =====Features Section=====
#features-section {
  background-color: $faint-blue;
}

// =====Successful Raises=====
#successful-raises {
  .card {
    box-shadow: 0 7px 20px $light-gray;
  }
}

// =====Footer=====
.footer-bg {
  background-position: top;
  height: 782px;
}
.footer {
  .container {
    padding-top: 10rem;
    h2 {
      font-weight: 40px;
      font-weight: 400;
    }
  }
}
